<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Your SOI Cart</h2>
<ul>
	<% @cart.line_items.each do |item| %>
	<li><%= item.quantity %> &times; <%= item.product.title %> By <%= item.product.author %></li>
	<% end %>
</ul>

