/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#banner {
  background: white;
  padding: 5px;
  border-bottom: 5px solid gray;
  height: 74px;

  img {
    float: left;
	padding-left:20px;
	padding-top:5px;
  }
  span {
	float: right;
	position: relative;
	top:42px;
	font-family: Georgia;
	right: 13px;
	font-size: 31px;
	color: #333;
	}

}

@-webkit-keyframes notice {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

#notice {
  color: #000 !important;
//  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #FFF1C9;
  font: bold small sans-serif;
	text-shadow:-1px -1px 1px white;
	border-radius:10px;
	box-shadow: inset 1px 1px 4px #CCC;
	-webkit-animation: notice 3s ;
}

#columns {
  background: #EAE9E7;

  #main {
    margin-left: 16em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 12em;
    background: #EAE9E7;

	form, div {
		display: inline;
	}
	
	input {
		background: #377ad0;
		  background: -moz-linear-gradient(top, #52a8e8 0%, #377ad0 100%);
		  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
		  border-top: 1px solid #4081af;
		  border-right: 1px solid #2e69a3;
		  border-bottom: 1px solid #20559a;
		  border-left: 1px solid #2e69a3;
		  -moz-border-radius: 16px;
		  -webkit-border-radius: 16px;
		  border-radius: 16px;
		  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
		  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
		  color: #fff;
		  font-family: "lucida grande", sans-serif;
		  font-size: 11px;
		  font-weight: normal;
		  line-height: 1;
		  padding: 3px 0 5px 0;
		  text-align: center;
		  text-shadow: 0 -1px 1px #3275bc;
		  width: 112px;
		  -webkit-background-clip: padding-box;
	}
	
	input:hover {
		background: #206bcb;
		  background: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
		  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
		  border-top: 1px solid #2a73a6;
		  border-right: 1px solid #165899;
		  border-bottom: 1px solid #07428f;
		  border-left: 1px solid #165899;
		  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
		  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
		  cursor: pointer;
		  text-shadow: 0 -1px 1px #1d62ab;
		  -webkit-background-clip: padding-box;
	}
	input:active {
		  background: #3282d3;
		  border: 1px solid #154c8c;
		  border-bottom: 1px solid #0e408e;
		  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
		  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
		  text-shadow: 0 -1px 1px #2361a4;
		  -webkit-background-clip: padding-box;
	}
	#cart {
		font-size: smaller;
		
		table {
			border-top:1px dotted #333;
			border-bottom:1px dotted #333;
			margin-bottom:10px;
		}
	}

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #B02A1A;
          font-size: small;
		 text-decoration:none;
		 font-weight:bold;
        }
		a:hover {
			color:red;
			background:none;
		}
      }
    }
  }
}